@import "_inc";

html{
  padding:0;
  margin:0;
}

  	
/*----- STRUCTURE -----*/
	
	body {
  		padding: 0;
  		margin: 0;
  		background: url("../images/bg.jpg") center top; }

	#background {
  		background: url("../images/background-map.jpg") no-repeat center top; }

	#page-wrapper {
  		background: #9bc295;
  		clear: both;
  		background: url("../images/content-bg.png"); }

	#page-wrapper-subpage {
  		background: #9bc295;
  		clear: both;
  		padding: 20px; }

	.site-width {
  		margin: 0 auto;
  		width: 980px; 
 }
  		
/*----- TEXT -----*/

h1, h2, h3, h4, h5, h5, h6 {
  font-family: 'Cabin', Helvetica, sans-serif;
  color: $headings;
  font-weight: normal;
  margin: 25px 0 10px;
  padding: 0 10px;
}
header h1 {background: url("../images/logo.png") no-repeat 50px 40px;}
h1 { font-size: 19px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; font-family: 'Leckerli One', cursive; font-weight: normal; text-shadow: $text-shadow; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; font-weight: bold; text-transform: uppercase;}

h1 a:link, h1 a:visited,
h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited,
h5 a:link, h5 a:visited,
h6 a:link, h6 a:visited {
  color: $headings;
  text-decoration: none;
}
h1 a:hover, h1 a:active,
h2 a:hover, h2 a:active,
h3 a:hover, h3 a:active,
h4 a:hover, h4 a:active,
h5 a:hover, h5 a:active,
h6 a:hover, h6 a:active {
  text-decoration: underline;
}
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

p, div { color: $text; font: 14px/22px 'Cabin', sans-serif; }
p { margin: 0 10px 20px;}
a:link, a:visited, .nolink { color: $links; text-decoration: none; }
a:hover, a:active, .nolink:hover { text-decoration: none; color: #95C2A2;}


/*---------------- LISTS ----------------*/
	ul {
  		font: 14px/22px 'Cabin', Helvetica, sans-serif;
  		padding-left: 10px;
	}
	ul li {
		margin: 0;
  		list-style-type: none;
	}
	ul li ul {
  		margin: 0 5px 0 20px;
	}
	ol {
  		font: 14px/22px Verdana, Arial, Helvetica, sans-serif;
  		margin: 0 0 20px 20px;
  		padding-left: 10px;
	}
	ol li {
  		margin: 0;
	}
	ol li ol {
  		margin: 0 0 10px 20px;
	}


/*---------------- MAIN NAVIGATION ---------------*/

	#main-nav {
		@include nav-bg;
		height: 70px;
		margin: 0 -15px;
		border-bottom: 1px solid #386d60;
		display: block;
		}
  	ul#main-menu {
  		margin: 0 30px 0 30px;
  		padding: 25px 0;
  		display: block;
    li {
    	font-family: $nav-font;
    	font-size: 24px;
    	font-weight: 700;
      	display: inline;
      	padding: 10px 38px;
      	border-right: 1px solid #418c6f;
  	} 
  	li:last-child {
  		border: none;
  	}
      a {
        &:link, &:visited {
          color: $main-nav;
          text-shadow: $text-shadow;
          text-decoration: none;        
         }   
        &.active {
           color: #abdbc5;
           text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.45);
        }
        &:hover, &:active {
        text-decoration: none;
        }
      }
  }

 
      
/* ------------- STYLES FOR RIBBON ON THE NAV --------------*/
nav {
  position: relative; }

nav:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 15px solid #23423b;
  border-left: 15px solid transparent;
  position: absolute;
  left: 0;
  top: 71px;
  margin-bottom: -10px; }

nav:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 15px solid #23423b;
  border-right: 15px solid transparent;
  position: absolute;
  left: 995px;
  top: 71px;
  margin-bottom: -10px; }
  
/*----------------- HEADER ----------------*/
#masthead {
	background: url("../images/header-bg.png") no-repeat;
	height: 245px;
  h1 {
    a {
      display: block;
      height: 245px;
      width: 307px;
    }
  }
}
 
  #slider {
  		float: right;
 img {
	border: 4px solid #fff;
	margin: 30px 25px 0 0;
	@include gallery-shadow;
}
  	}


/* ------------------- STYLES FOR HOMEPAGE LAYOUT -------------------- */
	#first-time {
  		display: none; }
	
	#sidebar-first {
  		width: 400px;
  		background: url("../images/sidebar-bg.png") ;
  		float: left; 
  	h3 {
    	padding-bottom: 10px; 
    	margin-bottom: 10px;}
  	
  	p {
    	
    	line-height: 24px; 
     }
  .field-name-node-link a {
	   padding: 0 10px 10px;
	   display: block;
	   text-transform: uppercase;
	   margin-top: -10px;
   }
   .field-name-node-link a:hover {
   	color: #fff;
   }
}
	
	#sidebar-second {
  		width: 580px;
  		float: right; 
  	
  	.node-about-sky-vine {
	  	width: 580px;
  		float: none;
  		margin: 0; 
  	p {
    	padding: 0 30px; 
    	margin: 0 10px 10px;
    	line-height: 24px;
}
    .node-readmore a {
	   	padding: 0 35px;
	   	text-transform: uppercase;
}
    a:hover {
  		color: #fff;
}
  
  	h3 {
    	padding-left: 40px;
    	padding-bottom: 10px; 
    	border-bottom: none;
    	margin: 25px 0 10px;
     }
}
	h3 {
	    padding-left: 40px;
    	padding-bottom: 10px; 
}
 
    .view-id-gallery { 
    	height: auto; 
    	background: none; 
    	margin: 0;
    }
} 	 
      .latest-work   {
    	margin: 0 10px 0 40px; 
    	height: 0;
    img {
    	border: 3px solid #FFF;
    	-webkit-box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.3);
    	box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.3); 
    	float: left;
    	margin: 0 20px 0 0;
    	}
   }
    	 
/* ------- STYLES FOR SUB PAGE TWO COL LAYOUT -------------- */

	#left-col {
  		width: 680px;
  		float: left;
  		margin: 20px; 
  		
  	h3 {
    	margin-top: 0;
    	padding-bottom: 20px;
    	border-bottom: 1px solid #fff; 
    	}
 }

	#one-col {
  		width: 950px;
  		float: left;
  		margin: 20px; 
  	h3 {
    	margin-top: 0;
    	padding-bottom: 20px;
    	border-bottom: 1px solid #fff; 
    	}
 }   	
    #block-block-4 {
	    float: right;
	    margin: -550px 30px 0;
    
    h3 {
	   border-bottom: 1px solid #386d60; 
	   margin: 0 10px;
	   padding: 10px 5px;
	   text-align: center;
	   font-size: 20px;
  }
}
	
/*------------------- ABOUT SKY VINE ---------------------*/
	.node-about-sky-vine {
  		margin: 20px; 
  	h3 {
    	margin-top: 0;
    	padding-bottom: 20px;
    	border-bottom: 1px solid #fff; 
    	}
    	.field-name-field-about-image img {
	    	float: right;
	    	margin: 0 20px 10px;
    	}
    	.image-fields {
 	a img{
	 	@include gallery-shadow;
 }
 	a:hover img {
 		@include gallery-shadow-hover;
 }
 	img {
	 	float: left;
	 	margin: 10px 10px 20px 10px;
	 	border: 2px solid #FFF;
	 }
}

 }    

    
/*------------------- GALLERY -------------------*/
	.new-gallery {
  		background: #53a08e;
  		margin: 20px;
  		height: 590px; 
  		padding: 7px 10px;
  		
  	.views-row {
    	padding-top: 10px;
    	width: 150px;
    	margin: 0 10px 10px; 
    	float: left;
}
    .gallery-thumbs { float: none; margin: 0;}
    .views-row .sb-gallery-field_image {
      	float: left;
      	margin: 10px 10px 0; }
      	
    .views-row img {
      	border: 2px solid #fff;
      	@include gallery-shadow;
      	float: left; }
      	
   .views-row a:hover img {
      	@include gallery-shadow-hover;
      	}
      	
  	.views-row figcaption {
    		display: none; }
 }   
	#block-views-exp-new-gallery-page {
  		width: 180px;
  		float: right;
  		clear: both;
  		background: #dbe9e6;
  		background: rgba(255, 255, 255, 0.6);
  		margin: 16px 40px 0 0; 
  		padding: 10px;
   		-webkit-border-radius: 3px;
  		border-radius: 3px; 
  	select {
    	font-size: 13px;
    	margin: 5px 0 10px;
    	padding: 3px;
    	border: #ccc;
    	width: 150px;
    	font-family: 'Cabin', Helvetica, sans-serif;
  }
	input[type="submit"] {
		margin: 0;
		}
}
.gallery { padding-right: 130px; }

	.item-list-pager ul { 
		float: left; 
		clear: both; 
		margin: 20px 0;
		}
	.item-list-pager ul li {
		float: left;
		padding: 0 4px;
	a { 
		color: #fff;	
	}
	}
	.item-list-pager ul	.current { 
		color: #fff; 
		text-decoration: underline;
  }

/*--------------- GALLERY DETAILED PAGE -----------------*/
 .gallery-detail-image {
	img {
		@include gallery-shadow;
		margin: 0 30px 30px;
	 	float: right;
	}
	a:hover img {
		@include gallery-shadow-hover;
	}
 }
 .artwork-detail-thumbs {
 	a img{
	 	@include gallery-shadow;
 }
 	a:hover img {
 		@include gallery-shadow-hover;
 }
 	img {
	 	float: left;
	 	margin: 20px 0 20px 20px;
	 	border: 2px solid #FFF;
	 }
}
.artwork-description p { margin: 20px; }
.artwork-elements { margin: 5px 20px; 
	a:hover { color: #fff;}
}
.artwork-title h3 { margin: 25px 5px 10px; }

.artwork-elements {
  span {
    padding-right: 10px;
  }
}

/* ---------------- EVENTS -------------- */
    .event-list-wrap {
    	padding: 20px 45px;
    	margin: 0;
	.views-row { 
		float: left;
}
.views-row-last {
	margin-bottom: 20px;
}
	.view-mode-events {
  		float: left;
  		background: #dbe9e6;
  		background: rgba(255, 255, 255, 0.6);
  		width: 275px;
  		margin: 10px;
		height: 150px;
}
  	.view-mode-events h2 {
  		margin: 0;
  		padding: 5px;
    	background: #53a08e;
    	font-size: 16px;
    	text-transform: uppercase;
    	font-weight: bold;
		display: block;
    	clear: both;
}
    h3 {
     	margin: 0 15px 10px 10px; 
     	padding: 0 0 20px; 
     	border-bottom: 1px solid #fff;
}
	.view-mode-events .field { 
		padding: 2px 5px;
}
	.item-list-pager ul { 
		clear: both; 
		float: left; 
		margin: 0; 
	li { 
		float: left; 
		display: block; 
		padding: 10px 0; 
		
	a {
		padding: 0 5px;
		} 
	 }
   }
}	
	.views-field-field-event-date {
  		background: #fff;
  		padding: 5px 7px; 
  	}

	.views-field-field-learn-desc {
  		background: #fff;
  		padding: 0 5px 10px; 
  	}

  	
  	
 /*----------------- LEARN ABOUT ----------------*/
    .learn-about-wrap {
    	padding: 20px;
    	margin: 0;
    	
    h2 { margin: 0;
  		padding: 5px 0 5px 5px;
    	background: #53a08e;
    	font-size: 16px;
    	text-transform: uppercase;
    	font-weight: bold;
		display: block;
    	clear: both; 
  }
	.views-row { 
		float: left;
	}
	.field-name-node-link a:hover {
  		color: #fff;
	}	
}
  	.view-learn-about {
  	.node-learn-about-article {	
		background: none;
		margin: 0 20px; 
	p {	
		margin: 0;
		padding: 0; 
}
	h3 {	
		margin: 10px 0;
		padding: 0; 
}
  	.field-name-node-link {	
		margin: 10px 0;
		padding: 0 0 15px;
		border-bottom: 1px solid #fff;  
	   }	
  	}
  	.views-row-last .field-name-node-link  {
	  	border-bottom: none;
  	}
  }	
  		
	.node-learn-about-article {	
		background: rgba(255, 255, 255, 0.6);
  		margin: 20px; 
  		
  	.field-name-post-date {
  		float: left;
  		width: 60px;
  		text-transform: uppercase;
  		font-size: 28px;
  		color: white;
  		font: 'Cabin', Helvetica, sans-serif;
  		font-weight: 700;
  		line-height: 30px;
  		padding: 5px 10px;
  		text-align: center;
  		background: #53a08e; 
}
  		
  	.field-name-field-learn-images img {
  		float: right;
  		padding: 20px; 
}
	h2 {
    	background: #95C2A2;
    	margin: 0;
    	padding: 24px 10px;
    	color: white;
    	font-size: 28px;
    	font-family: 'Cabin', Helvetica, sans-serif;
    	text-shadow: none;
    	padding-left: 100px;
}
    .field-name-field-learn-author label {
		float: left;
		margin: 0 0 20px 20px;
		padding: 0 10px 0 0;
}	
  	p {
  		padding: 10px 20px; 
  		margin: 0;
  	}  		
}
 
 
 
/*------------------ RAINFOREST -----------------*/ 	
#rainforest { margin: 30px;}
.node-rainforest {
	margin: 20px;
	.field-name-body {
		line-height: 24px;
	}
	h3 {
		margin: 10px 0 20px;
	}
		
.field-name-field-rainforest-images {
	 float: right;
	 margin: 0 20px 10px;	 
}

.image-fields {
 	a img{
	 	@include gallery-shadow;
 }
 	a:hover img {
 		@include gallery-shadow-hover;
 }
 	img {
	 	float: left;
	 	margin: 10px 10px 20px 10px;
	 	border: 2px solid #FFF;
	 }
}

}

/* ------------------ BLOG STYLING ---------------- */
	.node-blog-article {
		margin: 20px;
	}
	.blog-list-wrap { 
		padding: 20px; 
	h3 { 
		margin: 0 15px 10px 10px; 
		padding: 0 0 20px; 
		border-bottom: 1px solid #fff; 
}
	.view-mode-blog {
  		width: 210px;
  		background: #dbe9e6;
  		background: rgba(255, 255, 255, 0.6);
  		float: left;
  		margin: 15px 10px;
  		border-left: 80px solid #53a08e; 
    	-webkit-box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.2);
  		@include gallery-shadow;
  		}
    .views-row { 
    	float: left;
    }
    .views-row-last {
	 margin-bottom: 20px;
	 }
  	.view-mode-blog  h3 {
    	background: #95C2A2;
    	margin: 0;
    	padding:5px 10px;
    	color: white;
    	font-size: 14px;
    	text-transform: uppercase;
    	font-weight: bold;
    	font-family: 'Cabin', Helvetica, sans-serif; 
    	text-shadow: none;
 }   
	.view-mode-blog .field-name-post-date {
    	float: left;
    	width: 60px;
    	text-transform: uppercase;
    	margin-left: -72px;
    	font-size: 26px;
    	color: white;
    	font-weight: 700;
    	line-height: 30px;
    	padding: 5px 0 5px;
    	border-bottom: 1px solid #fff;
    	text-align: center; 
    	background: none;
  }  
	.view-mode-blog .field-name-node-link {
    	font-size: 12px;
    	border: none;
    	width: 75px;
   		margin: 0 0 0 -73px;
    	text-align: left;
    	text-transform: uppercase;
    	float: left;
    	clear: both; 
 }   	
	.view-mode-blog .field-name-node-link a {
      	color: #fff; 
 } 	   
	.view-mode-blog .field-name-field-article-desc {
    	padding: 10px; 
    	}
  }  	   
	.node-type-blog-article .node-blog-article {
		background: #dbe9e6;
  		background: rgba(255, 255, 255, 0.6);
  		margin: 20px; 
 }
  		
	.node-blog-article { 
	.field-name-post-date {
  		float: left;
  		width: 60px;
  		text-transform: uppercase;
  		font-size: 28px;
  		color: white;
  		font: 'Cabin', Helvetica, sans-serif;
  		font-weight: 700;
  		line-height: 30px;
  		padding: 5px 10px;
  		text-align: center;
  		background: #53a08e; 
  }
   	p {
  		padding: 10px 20px; 
  		margin: 0;
}	
 	.field-name-field-article-images img {
  		float: right;
  		padding: 20px; 
}
	h2 {
    	background: #95C2A2;
    	margin: 0;
    	padding: 24px 10px;
    	color: white;
    	font-size: 28px;
    	font-family: 'Cabin', Helvetica, sans-serif;
    	text-shadow: none;
    	padding-left: 100px;
    }
  }
  	.node-type-blog-article .node-blog-article h3 {
    	color: #53a08e;
    	text-shadow: none;
    	font-size: 20px;
    	padding: 0 20px;
	}

.node-blog-article .field-name-field-arcticle-author label {
		float: left;
		margin: 0 0 10px 20px;
		padding: 0 10px 0 0;
}
.field-name-field-article-type label{
		float: left;
		margin: 0 0 20px 20px;
		padding: 0 10px 0 0;
}
#views-exposed-form-blog-page {
		margin: 0 10px;
	
	label {
		font-weight: normal;
		margin: 5px 0;
	}
	option {
		font-family: 'Cabin', Helvetica, sans-serif;
		font-size: 12px;

	}
}
 #edit-submit-blog {
	 margin-top: 2.4em;
 }
  #edit-reset {
	 margin-top: 2.4em;
 }
 
 .blog-content-images {
   padding: 10px 20px;
 }
 
 /*------------------ FORMS ----------------*/
	#webform-client-form-28 {
  		margin: 30px;
  		font-family: 'Cabin', Helvetica, sans-serif; 
  		
  	.form-textarea-wrapper {
    	margin-left: 80px; 
 }  
 label {
    	float: left; 
    	clear: both;
    	width: 500px;
    	background: #53A08E;
    	padding: 2px 5px;
    	color: #fff; } 	
    input {
    	background: #dbe9e6;
    	 background: rgba(255, 255, 255, 0.8);
    	float: left; 
    	clear: both;
    	padding: 8px 0;
    	width: 510px;
    	border: none;
    	margin: 0 0 25px;
    	font: 13px/16px "Cabin", Helvetica, sans-serif;
}
	.email {
		width: 510px;
	}
    textarea {
    background: #dbe9e6;
    	 background: rgba(255, 255, 255, 0.8);
    	float: left; 
    	clear: both;
    	padding: 5px;
    	width: 510px;
    	border: none;
    	margin: 0 0 25px -80px;
    	font: 13px/16px "Cabin", Helvetica, sans-serif;
}
    input[type="submit"] {
  		background-color: #fff;
  		border: 1px solid #aeaeae;
  		color: #444444;
  		cursor: pointer;
  		display: inline-block;
  		font: 16px/16px "Cabin", Helvetica, sans-serif;
  		font-size: 100%;
  		font-style: normal;
  		font-weight: normal;
  		line-height: 1;
  		margin: 0;
  		overflow: visible;
  		padding: 5px 12px 6px;
  		position: relative;
  		text-align: left;
  		text-decoration: none;
  		width: auto;
  		-webkit-border-radius: 3px;
  		border-radius: 3px; 
  		margin-bottom: 20px;}
   input[type="submit"]:hover {
    	background-color: #95C2A2;
    	color: #fff;
    	border: 1px solid #fff;
    	text-shadow: none; }
}
	form input[type="text"], form input[type="password"], form textarea, form label.compact-form-label {
  		border: 1px solid #444444;
  		background-color: #fff;
  		color: #444444;
  		display: block;
  		margin: 0 0 3px;
  		outline: medium none;
  		padding: 8px 3px 8px 5px; }
  
	form label.compact-form-label {
  		background: none;
  		border: none;
  		margin-top: 3px;
  		box-shadow: none;
  		padding: 8px 3px 8px 5px; }
  
	 #webform-client-form-28   
  form input[type="submit"]:active {
    	-moz-transform: translateY(1px); }

	:-moz-any-link:focus {
  		outline: none; }
  		
  	.node-webform h3 { padding: 0 3px 15px; margin:20px 30px -10px;  border-bottom: 1px solid #fff;}
  	.marker, .form-required { color: #fff;}
  	#user-login {
	  	margin: 20px;
  	}
  	
  	
/* --------------------- FOOTER STYLES ----------------- */
	#credits {
  		background: #f0d19f;
  		 }
	
	#footer-bar {
  		background: #fdb772;
  		height: 50px;
  		text-align: center;

  
  	#footer_center, h3 {
    	width: 320px;
    	float: left;
    	margin-top: 7px;
    	margin-bottom: 30px;
    	margin-left: -5px; 
 }
}    	

/*---------- FOOTER LEFT -------------*/
  #footer_left {
  		width: 320px;
    	float: left;
    	margin-top: 0; 
  h3 {
    	width: 320px;
    	float: left;
    	margin-top: 15px;
    	margin-bottom: 30px;
    	margin-left: 0; 
    	}
   }
   .views-field-field-event-site {
  		background: #fff;
  		padding: 3px 7px;
  		margin-bottom: 15px; 
  	}	
  	.view-events {
	  	.view-footer {
		  	p {
			  	background: #fff;
			  	color: #fff;
			  	margin: 10px 0;
			  	padding: 10px 5px;
			a {
		
				font-weight: bold
			}  	
		  	}
	  	}
  	}
/*----------- FOOTER CENTER -------------*/
    #footer_center {
    	width: 320px;
    	float: left;
    	margin-top: 0; 
    .block-bar {
    	width: 265px;
    	color: #337058;
    	}
    p {
    	background: #fff;
    	width: 265px;
    	padding: 3px 5px 0;
    	margin: 0; 
    	}
   } 
   #footer-bar #footer_center .view-footer .learn-more { 
   		padding: 10px 5px; 
   		font-weight: bold;
  }
 
/*----------- FOOTER RIGHT --------------*/		
  	 #footer_right {
  	 	width: 320px;
    	float: right;
    	
  	 h3 {
    	float: right;
    	margin:-50px 20px 0 0;
    	padding: 0; 
}   
  	h6 {
    	background: #95c2a2;
    	margin: 65px 0 0 0;
    	padding: 5px;
    	color: white; 
    	width: 265px;
    	text-align: left;
    	font-size: 16px;
  		font-weight: bold;
  		text-transform: uppercase; 
}
  	p {
     	 margin: 0; 
     	 background: #fff;
     	 padding: 5px;
     	 text-align: left;
     	 width: 265px;
}
 
}
  /* #widgets-element-socialmedia_profile-default {
	   	background: #fff;
    	width: 265px;
    	padding: 5px 5px 50px;
    	margin: 0; 	 
    	.widgets-element   {
	    	float: left;
	    	margin: 0 5px;
    	}
    } */

/*------------- FOOTER BLOCK -----------*/
	.footer-block {
  		margin: 0 0 0 30px;
  		text-align: left;
  		width: 275px;
  		clear: both; 
  		
  	.block-bar {
    	background: #95c2a2;
    	margin: 10px 0 0 0;
    	padding: 5px;
    	color: white; 
}
  	p {
    	font-size: 14px; 
    }	
}

#copyright {
		height: 60px;
		clear: both;
		margin-bottom: 30px;
		background: #f0d19f;
}
	#client {
  		color: #4c4c4c;
  		text-align: left;
  		padding: 0 30px 20px;
  		margin-top: -40px;
  		float: left;}

	#devs {
  		border-top: 1px solid #444;
  		padding: 20px 30px;
  		color: #4c4c4c;
  		text-align: right;
  		clear: both;
  		margin: 0 20px; }

	.clearfix {
  		clear: both; }

  #footer_right	.facebook { padding-bottom: 9px; padding-top: 0; 
  		a img { float: left; margin-right: 10px;} }
 /*--------------- MISC ------------------*/
  div.contextual-links-wrapper ul.contextual-links {
	margin: 0;	
	width: 100px;
}
ul.contextual-links li {
	line-height: 100%;
	margin: 0;
	padding: 0;
	height: 30px;
	width: 100px;
	list-style: none outside none;
	float: none;
	box-shadow: none;
}
.not-found-404 { padding: 20px; }